@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Rochester&family=Forum&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Forum" sans-serif;
}

body{
  font-size: large;
  background-attachment: fixed;
}

p{
  text-align: center;
}

h3{
  text-align: center;
}

.clearfix{
  clear: both;
}

/* Navbar */

body nav{
    background-color: rgba(255,255,255, .15);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 50px;
    height: 80px;
    z-index: 999;
}


.logo{
    width: 80px;
    margin-left: 2em;
}

.navbar-nav{
    overflow: hidden;
}


nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

.nav-link{
    color: grey;
}

.nav-link:hover{
    color: goldenrod;
    background-color: rgba(0, 0, 0, 0.347);
}

/* burger menu for responsive navbar */
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: grey;
  border-radius: 10px;
}

/* responsive for top nav bar */

@media (max-width: 400px){
  
  nav .logo{
    height: auto;
  }

  nav{
    height: auto;
  }

  .toggle-button{
    display: flex;
    }

  .collapse{
    display: none;
    width: 100%;
  }
  
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .collapse ul{
    width: 100%;
    flex-direction: column;
  }

  .collapse li{
    text-align: center;
  }

  .collapse li a{
    padding: .5rem 1rem;
  }

  .collapse.active{
    display: flex;
  }
}

@media (max-width: 799px){
  nav{
    height: auto;
  }

  .toggle-button{
    display: flex;
    }

  .collapse{
    display: none;
    width: 100%;
  }
  
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .collapse ul{
    width: 100%;
    flex-direction: column;
  }

  .collapse li{
    text-align: center;
  }

  .collapse li a{
    padding: .5rem 1rem;
  }

  .collapse.active{
    display: flex;
  }
}

/* About Me */

.selfie{
  width: 350px;
  height: auto;
  float: left;
  justify-content: center;
  display: flex;
  border-radius: 16px;
}

.aboutHeader{
  margin: 35px 0 35px 0;
}

.about p{
  text-align: justify;
}

/* Responsive About Section */


@media screen and (max-width: 370px) {

  .selfie{
  margin-left: 0;
  width: 100%;
  }

  .description{
    margin-left: 0;
    text-align: justify;
  }
}

@media screen and (min-width: 390px) {

  .selfie{
    width: 100%;
  }

  .description{
    margin-left: 0;
    text-align: justify;
  }
}

@media screen and (min-width: 600px) {

  .selfie{
    width: 350px;
    margin-right: 25px;
  }

  .description{
    margin-left: 10px;
    text-align: justify;
  }
}

/* Skills */
.classTitle {
  margin: 35px 0 35px 0;
}

.skills .description{
  text-align: center;
}

.icon{
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 350px;
}

.skillsIcon{
  margin: 55px 0 35px 0;
}

/* Responsive for Skills Section */

@media screen and (max-width: 370px) {

  .icon{
    margin: 0;
  }
}

@media screen and (min-width: 390px) {

  .icon{
    margin: 0;
  }
}

@media screen and (min-width: 600px) {

  .icon{
    margin-left:350px;
  }
}

@media screen and (max-width:820px) {
  .icon{
    margin-left:0px;
  }
}

/* Portfolio */

#showcase {
	margin: 0;
}

.showbox {
	padding: 0;
  margin-right: 5em;
}

.showbox .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}

.showbox .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.showbox .inner .test_click:hover {
	background-color: rgba(0,0,0,.5); 
	mix-blend-mode: hard-light;
}

.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;
}

.showbox .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
}

.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
}

.box-01{
  margin-left: 10em;
}

.box-01 .inner {
	background-image: url(src/Thunbnail_Fitness\ App.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.box-02 .inner {
	background-image: url(images/Logo.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.box-03 .inner {
	background-image: url(images/Logo.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Responsive for Portfolio Section */

@media screen and (min-width: 370px) {

  .box-01, .box-02, .box-03{
    margin: 0;
  }
}

@media screen and (min-width: 390px) {

  .box-01, .box-02, .box-03{
    margin: 0;
  }
}

@media screen and (max-width: 600px) {

  .box-01, .box-02, .box-03{
    margin: 0;
  }
}

@media screen and (min-width:810px) {
  .box-01{
    margin: 0 0 0 54px;
  }

  .box-02, .box-03{
    margin-left: 50px;
  }
}

@media screen and (min-width:1024px) {
  .box-01{
    margin: 0 0 0 10em;
  }

  .box-02, .box-03{
    margin-left: 50px;
  }
}

/* Form */

form{
  border-radius: 8px;
}

/* Social */
#socialIcon{
  justify-content: center;
}


/* Footer */
.copyright{
  text-align: center;
}