@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Rochester&family=Forum&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Forum" sans-serif;
}

h3{
  text-align: center;
}

.clearfix{
  clear: both;
}

/* Navbar */
nav{
    background-color: #040720;
    height: 80px;
    z-index: 999;
}


.logo{
    width: 80px;
    margin-left: 2em;
}

.navbar-nav{
    overflow: hidden;
}


nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

.nav-link{
    color: whitesmoke;
}

.nav-link:hover{
    color: goldenrod;
    background-color: rgba(245, 245, 245, 0.347);
}


.icon{
    color: whitesmoke;
    display: none;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* responsive for top nav bar */

@media (max-width: 400px){
  nav{
    height: auto;
  }

  .toggle-button{
    display: flex;
    }

  .collapse{
    display: none;
    width: 100%;
  }
  
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .collapse ul{
    width: 100%;
    flex-direction: column;
  }

  .collapse li{
    text-align: center;
  }

  .collapse li a{
    padding: .5rem 1rem;
  }

  .collapse.active{
    display: flex;
  }
}

@media (max-width: 799px){
  nav{
    height: auto;
  }

  .toggle-button{
    display: flex;
    }

  .collapse{
    display: none;
    width: 100%;
  }
  
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  
  .collapse ul{
    width: 100%;
    flex-direction: column;
  }

  .collapse li{
    text-align: center;
  }

  .collapse li a{
    padding: .5rem 1rem;
  }

  .collapse.active{
    display: flex;
  }
}

/* About Me */


.selfie{
  width: 350px;
  height: auto;
  float: left;
  justify-content: center;
  display: flex;
  border-radius: 16px;
}

.aboutHeader{
  margin: 35px 0 35px 0;
}

.description{
  text-align: justify;
}

/* Responsive About Section */


@media screen and (max-width: 370px) {

  .selfie{
  margin-left: 0;
  width: 100%;
  }

  .description{
    margin-left: 0;
    text-align: justify;
  }
}

@media screen and (min-width: 390px) {

  .selfie{
    width: 100%;
  }

  .description{
    margin-left: 0;
    text-align: justify;
  }
}

@media screen and (min-width: 600px) {

  .selfie{
    width: 350px;
    margin-right: 25px;
  }

  .description{
    margin-left: 10px;
    text-align: justify;
  }
}

/* Skills */

.skills{
  background-color: rgba(0, 0, 0, 0.2);
}

.classTitle {
  margin: 35px 0 35px 0;
}

.icon{
  display: block;
  width: 100px;
  height: 100px;
}